name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: docker login
      run:
        docker login --username ${{ secrets.DOCKER_USERNAME}} -p ${{ secrets.DOCKER_SECRET }}
    - name: cd into right directory
      run: cd Titanic.Api 
    - name: docker image build
      run:
        cd Titanic.Api
        docker build -t cheloghm/titanic:$(date +%s) -f Dockerfile .
        
    - name: docker image publish
      run: docker push -a

