name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: docker login
      run: 
        docker login --username ${{ secrets.DOCKER_USERNAME}} -p ${{ secrets.DOCKER_SECRET }}
    - name: docker image build and publish
      run:
        docker build . --file Titanic.Api/ titanic
        docker --tag titanic cheloghm/titanic:$(date +%s)
        docker push -a
