# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: docker login
      run:
        docker build -t app .
        docker login --username cheloghm --password dckr_pat_-9dFMXYSDjT1Mvcd8uuPqS00jKo
        docker tag app cheloghm/titanic
        docker push cheloghm/titanic
    - name: Test
      run: dotnet test --no-build --verbosity normal
